:root {
  --branding-color: #cb7640;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
  --secondary-color: #f9f2ed;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 62px;
}
h4 {
  font-size: 48px;
}
p {
  font-weight: lighter;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.content-container {
  padding: 70px 60px;
}
.content-container h1 {
  font-size: 60px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content-container img {
  border-radius: 10px;
  width: 500px;
  display: block;
  margin: 0 auto;
}
.content-container h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  margin: 20px 0 0;
}
.content-container p {
  opacity: 70%;
  font-size: 14px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 2;
  opacity: 0.9;
}
.btn-branding {
  color: white;
  background-color: var(--branding-color);
  border-radius: 4px;
  line-height: 27px;
  font-size: 18px;
  padding: 12px 35px;
  cursor: pointer;
  border: 1px solid #cb7640;
  text-decoration: none;
}
.btn-branding:hover {
  transition: ease-in-out;
  color: var(--branding-color);
  background: white;
  border: 1px solid #cb7640;
}
.btn-branding-outline {
  color: var(--branding-color);
  background-color: white;
  border-radius: 4px;
  line-height: 27px;
  font-size: 18px;
  padding: 12px 35px;
  cursor: pointer;
  border: 1px solid #cb7640;
  text-decoration: none;
}
.btn-branding-outline:hover {
  transition: ease-in-out;
  color: white;
  background: var(--branding-color);
}
.content {
  margin: 0 30px;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 15px;
  font-size: 16px;
  opacity: 70%;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}
nav a:hover {
  color: var(--branding-color);
}
nav a.active {
  color: var(--branding-color);
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 5px;
}
footer .contact-box p {
  margin: 0;
}
footer .contact-box a {
  margin-top: 23px;
}
footer .email-link {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  font-size: 18px;
  padding: 10px 17px;
  border-radius: 50px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
@media (max-width: 960px) {
  h1 {
    font-size: 65px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  h2 {
    font-size: 44px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .hero {
    padding: 80px 20px;
  }
  nav a {
    font-size: 14px;
  }
  .about-img {
    padding: 30px;
    border-radius: 15px;
  }
}
